/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.navbar-inverse {
    border-color: #d4d6d6;
    background-color: #d4d6d6;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #bababa;
}

.navbar-brand {
    padding: 5px 5px;
}
.navbar-brand.active, .navbar-brand.active:hover  {
    color: #fff;
    background-color: #bababa;
}

img.img-responsive {
    margin-bottom: 20px;
}

.task-carousel .img-responsive {
    width: auto;
    height: 400px!important;
    max-height: 400px;
    display:block ;
    margin-left:auto ;
    margin-right:auto ;
}

.task-carousel .carousel-indicators {
    background-color: lightgrey;
    opacity: 0.8;
    bottom: -10px;
}
.task-carousel .carousel-caption {
    position: static;
    color: black;
    font-weight: bolder;
    text-shadow: none;
}

.accordion-toggle {
    line-height: 150%;
    font-weight: bold;
}
.accordion-toggle:hover {
    text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed #000080; /* Добавляем свою линию */
}
.accordion-toggle:focus {
    text-decoration: none; /* Убираем подчеркивание */
}

.panel-body > a.btn.btn-primary {
    margin-top: 20px;
}


.email {
    margin-top: 30px;
}

.img-center {
    margin: 0 auto;
}

.biography > p {
    text-align: justify;
}
/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}