<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="/imec_site/index.html">
                <img src="/imec_site/img/magnet.ico" alt="" style="max-height: 100%" />
                <strong id="index"> Главная</strong>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/imec_site/persons.html" id="persons">Сотрудники</a>
                </li>
                <li>
                    <a href="/imec_site/tasks.html" id="tasks">Задачи</a>
                </li>
                <li>
                    <a href="/imec_site/contacts.html" id="contacts">Контакты</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

        <script type="text/javascript">
            $(function () {
                var id = $('#navbar').data('active');
                $('#' + id).parent().addClass('active');
            });
        </script>